.landing-content p {
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: 0.25rem;
}

.landing-content h2 {
    font-size: 4.3rem;
    font-weight: 900;
    line-height: 1;
}

.landing-content a {
    font-size: 1.20rem;
}

.bg-hero {
    background-color: #dbdddd;
}