.scroll-nav {
    background-color: #fff;
    border-bottom: 1px solid #d1d1d1;
    animation: fadeInDownBig;
    animation-duration: 950ms;
}

.nav-link {
    font-size: 1.2rem;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #1abc9c;
    font-weight: 500;
}

.navbar-brand {
    font-size: 2rem;
    padding-top: 0;
}

@media only screen and (max-width: 990px) {
    #navbarNav {
        text-align: center;
        background-color: #fff;
        padding: 0 0;
        margin: 15px 0;
        border-radius: 6px;
    }
}