html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    position: relative;
    color: #1c1c1c;
}

.anchor {
    height: 0;
    visibility: hidden;
}

.btn {
    background-color: #16a085;
    color: #fff;
    border: none;
}

.btn:hover {
    background-color: #1dceaa;
}

@media only screen and (max-width: 766px) {
    .mt-small {
        margin-top: 1rem;
    }
    .mb-small {
        margin-bottom: 1rem;
    }
    .anchor {
        height: 50px;
        visibility: hidden;
    }
}